---
title: Supporting Multiple Cloud Foundry Instances
owner: Core Services
---

<% current_page.data.title = "Supporting Multiple " + vars.product_short + " Instances" %>

This topic describes registering a service broker with multiple <%= vars.product_runtime %> (<%= vars.product_short %>) instances.


## <a id='overview'></a> Overview

It may be necessary for the broker to know which <%= vars.product_short %> instance is making a given request. For example, when using [Dashboard Single Sign-On](dashboard-sso.html), the broker is expected to interact with the authorization and token endpoints for a given <%= vars.product_short %> instance.

There are two strategies that can be used to discover which <%= vars.product_short %> instance is making a given request.


## <a id='routing-auth'></a> Routing and Authentication

The broker can use unique credentials, a unique URL, or both for each <%= vars.product_short %> instance. When registering the broker, you can configure different <%= vars.product_short %> instances to use different base URLs that include a unique ID. For example:

* On <%= vars.product_short %> instance 1, the service broker is registered with the URL `broker.example.com/123`.

* On <%= vars.product_short %> instance 2, the service broker is registered with the URL `broker.example.com/456`.


## <a id='x-api-info-location'></a> X-Api-Info-Location Header

All calls to the broker from <%= vars.product_short %> include an `X-Api-Info-Location` header containing the `/v2/info` URL for that instance. The `/v2/info` endpoint returns further information, including the location of that <%= vars.product_short %> instance's UAA.

Support for this header was introduced in cf-release v212.
